<div class="ja-col-12 ja-p-0">
	<div class="ja-carrousel-container">
		<div class="ja-carrousel-source">
			{% for pic in pictures %}
				<img src="{{ pic }}" alt="{{ brand }} {{ name }}" title="{{ brand }} {{ name }}" class="ja-carrousel-media"/>
			{% endfor %}
		</div>
	</div>
</div>