<div class="ja-col-lg-3 ja-col-12">

	<div class="ja-row ja-border-bottom-1 ja-border-bottom-solid ja-border-bottom-grey ja-mb-2">
		<div class="ja-col-12 ja-txt-center ja-txt-red-80 ja-txt-upper ja-txt-light ja-txt-1 ja-pb-2">
			<h2 class="ja-txt-2">VOTRE POINT DE VENTE</h2>
		</div>
	</div>

	<div class="ja-row">
		<div class="ja-col-12">
			<p class="ja-txt-2 ja-txt-bold">
				<h3 class="ja-txt-2">{{ entity }}</h3>
			</p>
			<p class="ja-txt-1">
				{{ adress }}</br>
				{{ zip }} {{ city }}</br></br>
				<i class="fas fa-phone"></i> {{ tel }}
			</p>
		</div>
	</div>

	<div class="ja-row ja-p-0">
		<div class="ja-col-12 ja-p-0">
			
			<div class="ja-button-secondary ja-txt-upper" modal="#panel-essai">
				<i class="fas fa-circle-notch"></i>Réservez un essai
			</div>
			
			<div class="ja-button-secondary ja-txt-upper">
				<span  onclick="javascript: window.print();"><i class="fas fa-print"></i>Imprimez la fiche</span>
			</div>
			
			<div class="ja-button-secondary ja-txt-upper" modal="#panel-contact">
				<i class="fas fa-envelope"></i>Contactez-nous
			</div>

		</div>
	</div>

</div>

